html {
    height: 100%;
}

body {
    margin: 0;
    background-repeat: no-repeat;
    background-attachment: fixed;
    height: 100%;
	font: 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    top: 15%;
    background: linear-gradient(to right, #5f27cd , #54a0ff);
}

h1 {
    font: 600 3.5em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: uppercase;
    letter-spacing: .5em;
    width: 100%;
}

h3 {
	font: 900 1em 'Raleway', sans-serif;
    color: rgba(0,0,0,.5);
    text-align: center;
    text-transform: none;
    letter-spacing: 0.01em;

}

input {
    cursor: pointer;
    margin-bottom: 20px;
}

#angle
{
    width: 50px;
}

#angle:disabled
{
    background-color: #cfcfcf; 
    clear: both;
}

#random {
    display: block;
    margin: 20px auto 40px auto;
    height: 50px;
    width: 250px;
    font-size: 19px;
    border-radius: 30px;
    background-color: #54a0ff;
    color: #fff;
    border-color: #54a0ff;
    cursor: pointer;
}

#random:hover {
    background-color: #377bcf;
    border-color: #377bcf;
}

#random:focus {
    /*outline: none;*/
    outline-style: none;
}

